name: A workflow for Node CI&CD

on:
  pull_request:
    types: [opened,closed]
  push:
    branches-ignore:
      - master
      - dev
jobs:
  deploy-to-stage:
    if: github.event_name == 'pull_request'
    runs-on: ubuntu-latest
    strategy:
      matrix:
        os: [ubuntu-16.04]
    steps:
      - name: Deploy Stage
        run: echo ${GITHUB_REF#refs/heads/}
  deploy-to-live:
    if: github.event_name == 'pull_request' && github.event.action == 'opened'
    runs-on: ubuntu-latest
    strategy:
      matrix:
        os: [ubuntu-16.04]
    steps:
      - name: Deploy Live
        run: echo ${GITHUB_REF#refs/heads/}
